body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

.head1{
    width:100%;
    height: 550px;
    box-shadow: 10px 10px 10px 2px lightgray;
}

.background{
   background: url(images/resrt.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
   height: 550px;
   filter: brightness(45%) blur(2px);
   position: relative;
   z-index: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
img{
    width: 50px;
}

a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    text-shadow: 3px 2px rgb(221, 230, 226);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-right: 50px;
}

.title{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the content */
    z-index: 1;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    text-shadow: 5px 4px black;
}

.action{
    width: 150px;
    height: 50px;
    background-color: linen;
    border-radius: 20px;
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    border-color: darkblue;
}



