body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    min-height: 100vh; 
}

.head1{
    width:100%;
    height: 550px;
    box-shadow: 10px 10px 10px 2px lightgray;
}

.background{
   background: url(images/resrt.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
   height: 550px;
   filter: brightness(45%) blur(2px);
   position: relative;
   z-index: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    min-width:1000px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.name{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(87, 22, 120);
    text-shadow: 1px 1px rgb(188, 134, 34) ;
}
img{
    width: 50px;
}

a{
    text-decoration: none;
    color: rgb(87, 22, 120);
    font-weight: bold;
    text-shadow: 3px 2px rgb(221, 230, 226);
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-right: 50px;
}

.title{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the content */
    z-index: 1;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    text-shadow: 5px 4px rgb(87, 22, 120);
    min-width: 500px;
}

.action{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    border-color: white;
    background-color: darkorchid;
}

.gallery{
    height: 600px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery h2{
    color: rgb(188, 134, 34);
    font-weight: 900;
    text-align: center;
    font-size: 34px;  
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    flex-wrap: wrap;
    border-bottom: solid rgb(87, 22, 120);
     
}
.img2{
    width: 270px;
    height: 300px;
}

.cont{
    border: 1px solid darkorchid;
    height: 390px;
    width: 270px;
    box-shadow: 10px 10px rgb(214, 208, 208);
    margin-bottom: 100px;
}

.text{
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 22, 120);
    font-family: 'Times New Roman', Times, serif;
}

.search{
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.display{
    height: 250px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    
}
.cont5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.title3{
    max-width: 400px;
    color: rgb(87, 22, 120);
    min-width: 300px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
input{
    border: none;
    height: 40px;
    width: 120px;
    border-bottom: 2px solid rgb(87, 22, 120);
    font-size: 20px;
    background-color:rgba(255, 255, 255);
}

.look{
    width: 110px;
    height: 50px; 
    border-radius: 20px;
    color: rgb(87, 22, 120);
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-color:  rgb(188, 134, 34) ;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
}
.cont2{
   color:  rgb(188, 134, 34) ;
   font-size: 23px; 
}

footer{
    background-color: rgb(212, 190, 230);
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1000px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.head2{
    width:100%;
    height: 300px;
    box-shadow: 10px 10px 10px 2px lightgray;
}

.background-2{
   background: url(images/bg2.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
   height: 300px;
   filter: blur(1px);
}

.register h1{
    text-align: center;
    color:  rgb(45, 11, 62);
    font-weight: 900;
    
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1100px;
    background: linear-gradient(135deg, rgb(87, 22, 120), rgb(211, 166, 17));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info{
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    background-color: white;
    padding: 25px;
}


.cont8{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.cont9{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
span{
    font-size: 20px;
    font-weight: 700;
    color: rgb(45, 11, 62);
    margin: 10px;
}
.category label{
    font-size: 20px;
    margin: 10px;
    color: grey;
}

.input2{
    width: 90%;
    border: 1px solid grey;
    margin: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    outline: none;

}

.category{
    display: flex;
    justify-content: flex-start;
    width: 50px;
}

.gender1{
    width: 50px;
}

.book-button{
   height: 50px;
   width: 100%;
   font-size: 20px;
   border-radius: 15px;
   justify-self: center;
   align-self: center;
   background: linear-gradient(-135deg, rgb(87, 22, 120), rgb(211, 166, 17));
   color: white;
   font-size: 25px;
   font-weight: 900;
   box-shadow:  0 4px 20px rgb(37, 4, 60);
}

.details{
    width: calc(100% / 2 - 20px);    
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login{
    background-color: rgb(87, 22, 120);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    gap:10px;
    max-width: 350px;
    box-shadow:  10px 15px 20px rgb(37, 4, 60);
}


.sign-up p{
    font-weight: 100;
    color: white;
}
.sign-up h1{
    color: rgb(211, 166, 17);
}

.name{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 105%;
    gap:10px;  
    margin: 0;
} 
  

.login-info{
    width:100%;
    padding: 10px;
    border-radius: 10px;
}

.login-submit{
    width: 105%;
    padding: 10px;
    border-radius: 10px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color:rgb(211, 166, 17);
}

#login-colored{
    color: rgb(211, 166, 17);
    margin-left: 0;
}

.extra-text span{
    color: white;
    font-weight: 100;
}






   


