body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

.head1{
    width:100%;
    height: 550px;
    box-shadow: 10px 10px 10px 2px lightgray;
}

.background{
   background: url(images/resrt.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width:100%;
   height: 550px;
   filter: brightness(45%) blur(2px);
   position: relative;
   z-index: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
img{
    width: 50px;
}

a{
    text-decoration: none;
    color: rgb(87, 22, 120);
    font-weight: bold;
    text-shadow: 3px 2px rgb(221, 230, 226);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-right: 50px;
}

.title{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the content */
    z-index: 1;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    text-shadow: 5px 4px rgb(87, 22, 120);
}

.action{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    border-color: white;
    background-color: darkorchid;
}

.gallery{
    height: 600px;
    border-bottom: solid rgb(87, 22, 120);
}

.gallery h2{
    color: rgb(188, 134, 34);
    font-weight: 900;
    text-align: center;
    font-size: 34px;  
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.img2{
    width: 270px;
    height: 300px;
}

.cont{
    border: 1px solid darkorchid;
    height: 390px;
    width: 270px;
    box-shadow: 10px 10px rgb(214, 208, 208);
}

.text{
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(87, 22, 120);
}

